/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* parts recommend form the MDN articles  */
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  /* end of the reset */

body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: .2fr 5fr;
  grid-template-rows: .3fr 2fr .2fr;
  height: 100vh;
}

#theHeader {
  background-color: aqua;
  grid-column: 2/3;
  grid-row: 1/2;
}

#theSidebar {
  background-color: white;
  grid-column: 1/2;
  grid-row: 1/3;
}

#theProjectSpace {
  background-color: lightgray;
  grid-column: 2/3;
  grid-row: 2/3;
}

#theFooter {
  background-color: blue;
  grid-row: 3/4;
  grid-column: 1/3;
}

/* Style for the sidebar */

.sidebarContainer > div {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0;
  font-size: calc(2rem - 12px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.img0 {
  background: url("./images/profile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.img1 {
  background: url("./images/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.img2 {
  background: url("./images/inbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.img3 {
  background: url("./images/friend.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.img4 {
  background: url("./images/today.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.img5 {
  background: url("./images/upcoming.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.img6 {
  background: url("./images/add.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 4rem;
}

.sidebarContainer > div > p {
  cursor: pointer;
}

/* Style for the project space */









